<section class="footer" style="font-size: medium;background-image: url(/assets/bg.jpg);">
    <div class="box-container">
        <div class="box">
            <h3 style="color:green;">Order2go</h3>
            <p style="color:white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quibusdam saepe cupiditate assumenda ducimus.</p>
            <div class="share">
                <a href="#" class="btn lab la-facebook" style="font-size: 60px;color:blue;"></a>
                <a href="#" class="btn lab la-twitter"style="font-size: 60px;color:white"></a>
                <a href="#" class="btn lab la-instagram"style="font-size: 60px;color:orange"></a>
            </div>
        </div>
        <div class="box" >
            <h3 style="color:green;">Our location</h3>
            <div class="links" style="font-size: 10px;">
                <a href="#" style="font-size: 20px;">India</a>
                <a href="#"style="font-size: 20px;">Usa</a>
                <a href="#"style="font-size: 20px;">UK</a>
                <a href="#"style="font-size: 20px;">UAE</a>
                
            </div>
        </div>
        <div class="box">
            <h3 style="color:green;">Quick links</h3>
            <div class="links">
                <a href="#"style="font-size: 20px;">Home</a>
                <a href="#"style="font-size: 20px;">About</a>
                <a href="#"style="font-size: 20px;">Product</a>
                <a href="#"style="font-size: 20px;">Blog</a>
                <a href="#"style="font-size: 20px;">Contact</a>
            </div>
        </div>
        
    </div>
    <hr>
    <h1 class="credit" style="font-size: 20px;color: aliceblue;color: black;">created By <span class="he">Parcel2Go</span>| All right Received</h1>
</section>
