<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="header">Home</a></li>
  
    </ol>
  </nav>
<div id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 ">
                <img src="/assets/about.png" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-12 p-lg-5 p-2 my-5">
            <h1 style="font-style: italic;font-weight: bold; color: white;">ABOUT US</h1>
            <p style="color: white;">Online grocery shopping is a way of buying  household necessities using a web-based shopping service. There are two basic methods that people can use to purchase these items online. One is to order them from a local grocery store that participates in online shopping. A customer can then arrange for a home delivery directly from the store, or he can pick up his order at the store once an employee has assembled it. Another common practice is to order groceries from a large company, such as Amazon or Netgrocer, that will ship the items to one’s home
              Grocery shoppers have local, national, and international options available to them. Some U.S.-based companies provide delivery throughout the country, while others have limited service areas. For those searching for unique, organic, or international products, there are stores that sell those products online, as well. Many of them offer international delivery, but shipping policies and prices may vary according to the customer’s particular location.

A grocery delivery service can be a convenient option for anyone, including the elderly and other people with limited mobility or a lack of transportation. Busy families also tend to take advantage of online grocery shopping services. When picking up an order at the grocery store, customers can usually specify a pickup window, which can be anywhere from 30 minutes at some stores to four hours at others. Other retailers offer next-day pick up or delivery. Deliveries normally include a service charge, and sometimes a fuel charge as well. Orders from a large online company are usually packed at a warehouse, not a grocery store, and then are shipped via a commercial shipping service to the recipient.


                </p>
                <!-- <button class="btn btn-success"  routerlink='./header'>Shop Now</button> -->
    </div>
    </div>
</div>
</div>

