<h2 style="text-align: center;">Our <span>Features</span></h2>
<section class="icons-container">
    
    <div class="icons">
   
        <img src="/assets/icon-1.png">
        <div class="info">
            <h3>Free Delivery</h3>
            <span>On ALL Delivery</span>
            <br>
            <a href="#" class="btn btn-success">Read more</a>
        </div>
    </div>
    <div class="icons">
        <img src="/assets/icon-2.png">
        <div class="info">
            <h3>10 Days Returns</h3>
            <span>MoneyBack Gurantee</span>
            <a href="#" class="btn btn-success">Read more</a>
        </div>
    </div>
    <div class="icons">
        <img src="/assets/icon-3.png">
        <div class="info">
            <h3>offer & Gifts</h3>
            <span>On All Orders</span>
            <br>
            <a href="#" class="btn btn-success">Read more</a>
        </div>
    </div>
    
</section>
<section class="newsletter container">
   
<h3>Subscribe us for latest updates</h3>

<form action="">
    
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="align-items: center;">
    <button class="btn btn-outline-success" type="submit">Subscribe</button>
</form>
</section>
