<div class="container">
<div class="contact-info">
    <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Contact Us</h3>
    <div class="row" style="width: 100%;">

    <div class="col-md-4">
    <div class="card">
        <i  style="font-size: 40px;"class="card-icon las la-envelope"></i>
        <p>shiham@gmail.com</p>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <i  style="font-size: 40px;"class="card-icon las la-phone-alt"></i>
        <p>+91 9894159895</p>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <i style="font-size: 40px;"class="card-icon las la-map-marker"></i>
        <p>Chennai</p>
    </div>
</div>

</div>
</div>
</div>
