 <img src="https://i.pinimg.com/originals/41/42/43/414243779130614e5dd27a24d74aa660.gif" alt="delivery" width="50%">
 <h1 class="text" style="text-align:center;font-weight: bold;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: green;">Order delivered</h1>
 <h4 style="margin-left: 400px;">Thanks for using <span style="color: blue;">Parcel</span><span style="color: orange;">2GO</span>.Let us Known how it went</h4>
 <button type="button" class="btn btn-outline-success btn-lg" style="margin-left: 590px;" routerLink="/header">Home Page</button>